<!DOCTYPE html>
<html>

<head>
  <title>{{pageTitle}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Righteous" rel="stylesheet">

</head>

<body>
  <header>
    <div>
      <h1 class="app_title">Sticktimes</h1>
    </div>
  </header>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
</body>

</html>