<h1>Add a new rink</h1>

<form class="form_container" action="/users/{{userId}}/rinks" method="POST">
    <div class="form_field">
        <label for="name">Rink Name</label>
        <input type="text" name="name" required/>
    </div>

    <div class="form_field">
        <label for="photoUrl">Photo Link</label>
        <input type="text" name="photoUrl" />
    </div>

    <div class="form_field">
        <label for="phone">Phone #</label>
        <input type="text" name="phone" required/>
    </div>

    <div class="form_field">
        <label for="location">City</label>
        <input type="text" name="location" required/>
    </div>

    <div class="button_container">
        <input class="btn" type="submit" value="Add Rink">
    </div>
</form>